:root {
    --NotWhite: #f9f9f9;
    --Midnight: #181818;
    --Accent1: #f71184;
    --AccentDark: #1D001B;
    --AccentLight: #fca9df;
    --Grayy: #515151;
    --NotBlack: #0A0A0A;
    --Texty: #1e1e1e;

    --bg-color: #ffffff;
    --header-color: var(--NotWhite);
    --header-text: var(--AccentDark);
    --header-text-accent: var(--Grayy);
    --major-text: var(--Texty);
    --dark-button-color: var(--Midnight);
    --dark-button-color-accent: var(--Grayy);
    --dark-button-shadow-color: rgba(0, 0, 0, 0.2);
    --dark-button-shadow-color-anim: rgba(0, 0, 0, 0.05);
    --button-shadow-color-pink: rgba(220, 159, 255, 0.3);
    --button-shadow-color-anim: rgba(220, 159, 255, 0.05);
    --button-color-accent: var(--AccentLight);
    z-index:10;
    
}

html.dark-mode {
    --bg-color: var(--NotBlack);
    --header-color: #000000;
    --header-text: var(--NotWhite);
    --header-text-accent: var(--AccentLight);
    --major-text: var(--NotWhite);
    --dark-button-color: var(--Accent1);
    --dark-button-color-accent: var(--AccentLight);
    --dark-button-shadow-color: rgba(220, 159, 255, 0.3);
    --dark-button-shadow-color-anim: rgba(220, 159, 255, 0.08);
    overflow-x: hidden;
    width: 100%;
}

header, body, nav{
    transition: all 0.4s ease;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

button {
    border: none;
    outline: none;
}

@font-face {
    font-family: Poppins;
    src: url(/resources/Poppins-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Poppins;
    src: url(/resources/Poppins-Regular.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Poppins;
    src: url(/resources/Poppins-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: ReanieBeanie;
    src: url(/resources/ReenieBeanie-Regular.ttf);
}

.spacer {
    height: 5%;
}

.logo {
    display: flex;
    padding: 0px 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.logo a {
    color: var(--header-text);
    font-family: Poppins;
    font-size: 220%;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -2.3px;
    padding: 15px;
}

header {
    display: flex;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: var(--header-color);
    /* Dark background color for contrast */
    color: white;
    /* White text color */
    padding: 1%;
    height: fit-content;
    /* Set a fixed height */
    min-height: 2%;
    gap: 10%;
    width: 100%;
    /* Full width of the page */

}

header a {
    text-decoration: none;
}

nav {
    display: flex;
    padding: 10px 50px 10px 10px;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    flex: 1 0 0;
    align-self: stretch;
}


#about-me-button {
    display: flex;
    width:fit-content;
    height: fit-content;
    padding: 2% 2%;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    justify-content: center;
    background: var(--Accent1);
    box-shadow: 0px 4px 15px 0px rgba(88, 16, 70, 0.50);

    filter: drop-shadow(0px 4px 30px var(--button-shadow-color-pink));
    transition-duration: 0.4s;
    white-space: nowrap;

    color: var(--Not-Quite-White, #F9F9F9);
    font-family: Poppins;
    font-size: 170%;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.6px;
}
#button-arrow {
    width: 70%;
    fill: var(--NotWhite);
}

#about-me-button-box{
    display: flex;
    width: fit-content;
    height: 90%;
    padding: 5px 20px;
    align-items: center;
    gap: 20px;

}

#about-me-button:after {
    border-radius: 20px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
        -7px -7px 20px 0px var(--button-shadow-color-anim),
        -4px -4px 5px 0px var(--button-shadow-color-anim),
        7px 7px 20px 0px var(--button-shadow-color-anim),
        2px 0px 7px 6px var(--button-shadow-color-anim);
    transition: all 0.3s ease;
}
#about-me-button:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

#about-me-button:hover {
    background-color: var(--button-color-accent);
    transition: all 0.4s ease;
}


#dark-mode-toggle {
    display: flex;
    min-width: 100px;
    width: fit-content;
    height: fit-content;
    padding: calc(1vh) calc(1vw) ;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: var(--dark-button-color);

    color: var(--NotWhite);
    font-family: Poppins;
    font-size: 125%;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.4px;

    filter: drop-shadow(0px 4px 30px var(--dark-button-shadow-color));
    transition-duration: 0.4s;
}




#dark-mode-toggle:after {
    border-radius: 20px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
        -7px -7px 20px 0px var(--dark-button-shadow-color-anim),
        -4px -4px 5px 0px var(--dark-button-shadow-color-anim),
        7px 7px 20px 0px var(--dark-button-shadow-color-anim),
        2px 0px 7px 6px var(--dark-button-shadow-color-anim);
    transition: all 0.3s ease;
}

#dark-mode-toggle:hover:after {
    left: auto;
    right: 0;
    width: 100%;
    transition: all 0.3s ease;
}

#dark-mode-toggle:hover {
    background-color: var(--dark-button-color-accent);
    transition: all 0.4s ease;
}

button:hover:active {
    transform: translate(0px, 2px);
}

button:hover {
    transform: translate(1px, -2px);
}

.navlink {
    --font-size-navlink: calc(125%);
    color: var(--header-text);
    font-family: Poppins;
    font-size: 125%;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.4px;
    transition: all 0.3s ease;

}

.navlink:hover {
    color: var(--header-text-accent);
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

.navlink:active {
    color: var(--header-text-accent);
    transform: translate(-0.05px, 2px);
    transition: all 0.3s ease;
}

#intro {
    display: flex;
    height: 1275px;
    min-height: calc(85vh);
    max-height: calc(90vh);
    padding: calc(5vh) calc(0.5vw);
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    position: relative;
    z-index:0;
    overflow:hidden;
}

#intro-parallax-box{
    width: fit-content;
}


#intro-parallax-container{
    min-width: calc(80vh);
    width: fit-content;
    height: 100%;
    flex: 1 0 0;
}

#intro-text {
    padding: 10px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    max-width: calc(80vh);
    min-width: 35%;
    position:fixed;
    z-index: 0;
    transform: translate(0, min(calc(10vw), calc(20vh)));
}

#intro-large-text {
    flex: 1 0 0;
    color: var(--major-text);
    font-family: Poppins;
    font-size: calc(8vh);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -5.25px;
    display: fixed;
    z-index: 0;
}

#intro-image {
    height: calc(3wv);
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    flex: 1 0 0;
    color: var(--major-text);
    font-family: Poppins;
    font-size: 115px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -5.75px;
    justify-content: flex-end;
    position: relative;


}

.intro-centering-div {
    flex: 1 0 0;
    align-self: stretch;

}

#intro-image-object {
    display: flex;
    width: calc(40vh);
    flex-direction: column;
    align-items:flex-end;
    gap: 10px;
    transform: translate(5vh);
    filter: drop-shadow(0px 4px 200px rgba(220, 159, 255, 0.4));
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

#silly-text {
    flex: 1 0 0;
    color: var(--header-text);
    font-family: ReanieBeanie;
    font-size: 23%;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;
}


@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes float_down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(+10px);
    }

    100% {
        transform: translateY(0);
    }
}

.cls-1 {
    filter: blur(1px);
    animation: float 4s ease-in-out infinite;
}

.cls-2 {
    animation: float_down 5s ease-in-out infinite;
}

#about-me {
    z-index:10;
    overflow: hidden;
    display: flex;
    height: fit-content;
    width: calc(100% - calc(5vw));
    min-height: calc(80vh);
    padding: calc(10vw) 0px calc(10vw) calc(5vw);
    align-items: flex-start;
    align-self: stretch; 
    background: var(--Midnight, #181818);
    position: relative;
    gap: 30px;
}

footer {
    display: flex;
    overflow: hidden;
    position: relative;
    height: 150px;
    min-height: min(150px, calc);
    max-height: 150px;
    padding: calc(0.5vh);
    justify-content: center;
    align-items: center;
    gap: 50px;
    align-self: stretch;
    background: var(--Midnight, #181818);
    z-index: 10;
}

.copyright-footer {
    color: var(--Grayy, #515151);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.2px;
}

.about-content {
    display: flex;
    min-width: max(calc(50vh),calc(50vw));
    max-width: calc(80vh);
    padding: 0 calc(3vw) 0 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.about-image {
    display: flex;
    padding: 0px calc(3v);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    transform: translate(calc(5vw), 0);
    flex: 1 0 0;
}

.justified-right-img {
    display: flex;
    padding: 0px calc(3vw);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    right: 40%;
}

.about-image-object {
    height: max(calc(60vh),calc(40vw));

}

h2 {
    color: var(--Not-Quite-White, #F9F9F9);
    font-family: Poppins;
    font-size: 500%;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 109.375% */
    letter-spacing: -6.4px;
    margin: 0;

}

#about-me-head-box {
    display: flex;
    align-items: center;
    min-width: calc(40vw);
    width: 100%;
    gap: 10px;
    align-self: stretch;
    padding: 0px 0px 2% 0px ;
}

#divider-h2{
    min-width: calc(40vw);
    background-color: var(--NotWhite);
    min-height: calc(5vw);
    width: 40px;
    height: 10px;
}

.about-text {
    color: var(--Not-Quite-White, #F9F9F9);
    font-family: Poppins;
    font-size: calc(3vh);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.5px;
}

hr.solid {
    border-top: calc(0.5vw) solid var(--NotWhite);
    width: 100%;
}


.project{
    display: flex;
    min-height: calc(80vh);
    max-width: 100%;
    padding: calc(15vh) 0px;
    align-items: center;
    align-content: center;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
    overflow: hidden;
}

.project.midnight{
    background-color: var(--Midnight);
}

.pinfo{
    display: flex;
    height: fit-content;
    min-width: 50%;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
}

.pname {
    color: var(--header-text);
    font-family: Poppins;
    font-size: calc(10vh);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -5.75px;
}
.pname.midnight{
    color: var(--NotWhite);
}

.pdate{
    color: var(--Accent1);
    font-family: Poppins;
    font-size: calc(3vh);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.75px;
}


.pdesc{
    color: var(--major-text);
    font-family: Poppins;
    font-size: calc(3vh);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.75px;
}
.pdesc.midnight{
    color: var(--NotWhite);
}

.pimage{
    display: flex;
    min-width: 500px;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}

.pimage-obj{
    max-width: 80%;
    min-width: 450px;
}

.contact{
    display: flex;
    min-height: calc(75vh);
    padding: 100px 25px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
}
.cleft{
    display: flex;
    padding: calc(13vh) calc(10vh);
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.cform{

    display: flex;
    width: calc(40vh);
    height: calc(30vw);
    padding: 8% 5%;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    border-radius: calc(5vw);
    background-color: var(--NotWhite);
    filter: drop-shadow(0px 4px 200px rgba(220, 159, 255, 0.2));
    box-shadow: 0px 4px 200px 0px rgba(247, 17, 132, 0.2);
}

.cform-title {
    color: var(--Not-Quite-Black);
    font-family: Poppins;
    font-size: calc(2.3vw);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2.4px;
}
.cfield {
    outline: none;
    border: none;
    border-radius: calc(1.2vw);
    background: #F6F6F6;
    display: flex;
    width: auto;
    min-height: calc(5vh);
    height: 13%;
    padding: 0px 5%;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    color: #A1A1A1;
    font-family: Poppins;
    font-size: calc(1.1vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.2px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
}

.cbutton {
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 5% 5%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: var(--Accent1);
    box-shadow: 0px 4px 4px 0px var(--button- shadow-color-pink);
    color: #FFF;
    font-family: Poppins;
    font-size: calc(1.1vw);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.4px;
}

.cbutton:after {
    border-radius: 20px;
    position: absolute;
    content: "";
    width: 0;
    height:fit-content;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
        -7px -7px 20px 0px var(--button-shadow-color-anim),
        -4px -4px 5px 0px var(--button-shadow-color-anim),
        7px 7px 20px 0px var(--button-shadow-color-anim),
        2px 0px 7px 6px var(--button-shadow-color-anim);
    transition: all 0.3s ease;
}
.cbutton:hover:after {
    left: auto;
    right: 0;
    width: fit-content;
}

.cbutton:hover {
    background-color: var(--button-color-accent);
    transition: all 0.4s ease;
}

.cfield.cmessage{
    padding: 3% 5%;
    height: auto;
    align-self: stretch;
    flex-grow: 1;
    resize:none;
}


.ctext{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.contact-me{
    color: var(--header-text);
    font-family: Poppins;
    font-size: calc(10vh);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -5.75px;

}

.ctextra{
    color: var(--Accent1);
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.75px;
}